[project]
	description = A neural net based on convolutional networks
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shayanrc
[access "refs/for/refs/*"]
	read = group user/shayanrc
	push = group user/shayanrc
	label-Code-Review = -2..+2 group user/shayanrc
	label-Verified = -1..+1 group user/shayanrc
	rebase = group user/shayanrc
	removeReviewer = group user/shayanrc
	submit = group user/shayanrc
[access "refs/heads/*"]
	read = group user/shayanrc
	create = group user/shayanrc
	push = +force group user/shayanrc
	pushMerge = group user/shayanrc
[access "refs/tags/*"]
	push = +force group user/shayanrc
	pushTag = group user/shayanrc
	pushSignedTag = group user/shayanrc
